.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

#modal {
  position: absolute;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.205);
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;

}

#modal-content {
  background: white;
  width: 90%;
  height: 80px;
  color: rgb(139, 9, 168);
  margin-top: 200px;
  padding: 0px 90px;

}

#loan-form {
  background: rgb(224, 76, 235);
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0, 4);
  width: 50%;
}

label {
  margin-top: 10px;
}

input,
select {
  width: 100%;
  height: 30px;
  border: none;
}

#submit-loan-btn {
  margin-top: 20px;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(238, 54, 226);
  color: white;
}

hr {
  width: 100%;
}

.disabled {
  background: rgb(178, 9, 190) !important;
}

.disabled:hover {
  background: rgb(75, 4, 81);
  cursor: progress;
}

@media(max-width:620px) {
  .flex {
    
min-width: 400px;
    min-height: 200px;

  }

  



}
@media(max-width:470px) {
  .flex {
    margin: -120px 40px;
max-width: 100px;
    min-height: 200px;

  }

  



}